@import "@/app/_styles/mixins";

.wrapper {
  @include respond-to("laptop") {
    @include full-height();
    // background-color: rgba(255, 0, 0, 0.3);
    @include fill-page-scroll();
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
}
